% {lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info, 
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.


{deps, [
	{nkservice, ".*", {git, "https://github.com/netcomposer/nkservice.git", {branch, "v09"}}},
    {nkapi, ".*", {git, "https://github.com/netcomposer/nkapi.git", {branch, "v09"}}},
    {erlcloud, "2.2.9"}
]}.



