% {lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info, 
    {parse_transform, lager_transform}
]}.


{deps, [
    {nkserver , ".*", {git, "https://github.com/netcomposer/nkserver.git", {branch, "develop"}}},
    {nkaws , ".*", {git, "https://github.com/netcomposer/nkaws.git", {branch, "develop"}}}
]}.



